#siteHeader {
    background-color: #00b3e6;
    color: #FFFFFF;
}

​
textarea {
    white-space: normal;
    text-align: justify;
}

#facebook a:visited {
    text-decoration: none;
    background-color: white;
    color: black;
}

#facebook a:link {
    text-decoration: none;
    background-color: white;
    color: black;
}

#facebook a:hover{
    text-decoration: none;
    background-color: white;
    color: black;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #00b3e6 !important;
}

.divider {
    padding: 2px 1px 1px 8px;
    /*border-left: 1px solid black;*/
     border-left: 2px solid #00b3e6;
    min-height: 20px;
    height: 18px;
}

.divider-facebook {
    padding: 0px 1px 1px 5px;
    /*border-left: 1px solid black;*/
     border-left: 2px solid #00b3e6;
    min-height: 20px;
    height: 18px;
}

.cookies-dialog {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1002;
    /*background: #19e3b1;*/
    /*background: rgba(25,227,177,0.9);*/
    background: white;
     padding: 0 0 11px 0;
}

/*
@media only screen and (min-width: 480px) {
    $('.navbar').css('visibility', 'visible');
}

@media only screen and (min-width: 768px) { 
    $('.navbar').css('visibility', 'visible');
}

@media only screen and (min-width: 992px) { 
    $('.navbar').css('visibility', 'visible');
}


@media only screen and (min-width: 1200px) { 
    $('.navbar').css('visibility', 'visible');
}
*/

button { 
    outline: 0; 
    background: none; 
    border: 0;
}

.hideme
{
    opacity:0;
}
.hideme2
{
    opacity:0;
}
.hideme3
{
    opacity:0;
}
    
/*.text-fix {
    color: black;
    color: #00b3e6;
    font-size: 13.3px;
    padding-top: 14px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
}*/

/*.cookies-dialog {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1002;
    background: #19e3b1;
    background: #ddd8d8;
}*/


#text-bl-div-service {
    margin: 20px 108px 20px 108px;
}
#text-div-service {
    font: 400 15px/1.8 Lato, sans-serif;
    font-size: 15px;
    color: #777;
}
#title-div-service {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    line-height: 1.42857143;
    color: #777;
    letter-spacing: 12px;
    color: black;
}
#title-div {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 10px 0 30px 0;
    letter-spacing: 10px;
    font-size: 20px;
    color: white;
}
.container-div-servicios{
    padding: 96px 90px 76px 90px;
}

.container-div{
    padding: 96px 90px 42px 90px;
}

.container-div-equipo{   
    padding: 71px 90px 64px 90px;
}

.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}
.person:hover {
    border-color: #f1f1f1;
}
.bg-1 {
    background: #00b3e6;
    color: white;
}
.bg-1 h3 {
    color: #fff;
}
.bg-1 p {
    font-style: italic;
}
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail p {
    margin-top: 15px;
    color: #555;
}
.btn {
    padding: 10px 20px;
    background-color: #ffdd30;
    color: #00b3e6;
    border-radius: 0;
    transition: .2s;
}
.btn:hover,
.btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}
.nav-tabs li a {
    color: #777;
}
#googleMap {
    width: 100%;
    height: 480px;
}
.navbar {
    font-family: 'Biryani', sans-serif;
    margin-bottom: 0;
    /*background-color: #fffafa;
    background-color: #00b3e6;*/
    background-color: #0ea5d1;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 1px;
    opacity: 0.93;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 6px 15px 15px 15px !important;
    font-size: 18px;
    line-height: 20px;
}
.navbar li a, .navbar .navbar-brand {
    /*color: #d5d5d5 !important;*/
    color: white !important;
}
#myNavbar li a:hover {
    color: #ffdd30 !important;
}
.navbar-nav li a:hover {
    color: #fff !important;
}
.navbar-nav li.active a {
    color: #ffdd30 !important;
    background-color: #00b3e6 !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.icon-bar {
    background-color: white !important;
}
.icon-bar:hover {
    background-color: #00b3e6 !important;
}
.navbar-toggle:hover {
    background-color: #ffdd30 !important;
}
.navbar-toggle {
    background-color: transparent !important;
}
.navbar-toggle:target {
    background-color: yellow !important;
}
footer {
    background-color: #00b3e6;
    color: #f5f5f5;
    padding-top: 57px;
    padding-right: 77px;
    padding-bottom: 32px;
    padding-left: 57px;
}
footer a {
    color: #f5f5f5;
}
footer a:hover {
    color: #777;
    text-decoration: none;
}
.form-control {
    border-radius: 0;
}
textarea {
    resize: none;
}
#bigWord {
    font-size: 180%;
    color: #ffdd30;
}
#footerLink {
    color: #ffdd30;
}
h4 {
    color: white;
    font-size: 141%;
    font-weight: bold;
}
#strong-text {
    font-size: 25px;
}
#text-background {
    color: white;
}

body {
    font-family: 'Biryani', sans-serif;
}
#title-font {
    font-family: 'Biryani', sans-serif;
}
H3 {
    font-weight: 900;
    font-size: 318%;
}
#title {
    font-size: 397%;
}
#float-menu {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1002;
    background: #19e3b1;
    background: rgba(25, 227, 177, 0.9);
}
#float-menu #wrap {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#mail {
    display: block;
    text-transform: uppercase;
    background: #ffdd30;
    color: #00b3e6;
    padding: 16px 38px 10px 34px;
    float: left;
}

#mail-equipo {
    text-transform: uppercase;
    background: #ffdd30;
    color: #00b3e6;
    padding: 9px 20px 9px 20px;
}

#mail-equipo:hover {
	border-bottom: 0px solid;
	color: white !important;
	text-decoration: none;
	background-color: #ffdd30 !important;
}

.modelo{
    background-color: #00b3e6;
}

.modelo-text{
    color: white;
}

.modelo-subtitle{
    color: #ffdd30;
}

.title-modelo{
    padding: 11px 22px 11px 22px;
    background-color: #00b3e6;
    color: white;
    font-size: 92% !important;
    font-weight: normal;   
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

a:link,
a:visited {
    border-bottom: 0px solid;
    text-decoration: none;
    color: black;
}
/*a:hover,
a:active {
    text-decoration: none;
    background-color: #00b3e6;
    color: white;
}
*/

#title-div-correo {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    line-height: 1.42857143;
    letter-spacing: 10px;
    color: white;
}

a:hover,
a:active {
    text-decoration: none;
    background-color: none;
    color: white;
}

#mail a:active {
    border-bottom: 0px solid white;
    text-decoration: none;
    color: white;
}
#mail:hover {
    border-bottom: 0px solid;
    color: white !important;
    text-decoration: none;
    background-color: #ffdd30 !important;
}
#arrow {
    width: 53px;
    height: 50%;
    position: relative;
    -webkit-animation-name: example;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-name: example;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
}
@keyframes example {
    0% {
        top: 0px;
    }
    25% {
        top: 7px;
    }
    50% {
        top: 15px;
    }
    75% {
        top: 7px;
    }
    100% {
        top: 0px;
    }
}


#title-yellow {
    color: #ffdd30;
}
.myTeam .info {
    padding: 15px 0px;
    text-align: center;
    line-height: 1.6;
    border-bottom-color: transparent;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
.owl-pagination {
    background-color: #00b3e6;
}
.owl-controls {
    margin-top: 0px !important;
}
.owl-theme .owl-controls .owl-page span {
    background: white !important;
}

@media (max-width: 480px) {
    .navbar{
        visibility: visible!important;
    }

    .container-div {
	    padding: 58px 90px 11px 90px!important;
    }
    
    footer {
        padding-top: 9px!important;
        padding-bottom: 17px!important;
    }
}

@media (max-width: 767px) {
    .navbar{
        visibility: visible!important;
    }

    .container-div {
	    padding: 58px 90px 40px 90px!important;
    }

     footer {
        padding-top: 9px!important;
        padding-bottom: 17px!important;
    }

    .image-small {
        text-align: center;
    }
    .contacto {
        text-align: center;
    }
}

.navbar {
    visibility: hidden;
}
/*.cookies-dialog {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1002;
    background: #19e3b1;
    background: rgba(25, 227, 177, 0.9);
}*/
.cookies-dialog .wrap {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.image-carousel{
    width:100%;
}

@media only screen and (max-device-width: 320px) {
H3 {
    font-weight: 700 !important;
    font-size: 182% !important;
}

.main-text-mobil{
    text-align: justify;
    text-justify: inter-word;
    letter-spacing: -1px;
}

.cookies-div-mobil{
    padding-top: 4px;
    padding-left: 3px;
}

.main-image-mobil{
    padding-left: 0px !important;
}

.cookies-text-mobil, .arrow-mobil{
    display: none;
}

.border-color-mobil{
    border-left: none;
}

.container-div-servicios-mobil{
    padding: 49px 35px 24px 35px !important;
    text-align: justify;
    letter-spacing: 0px;
}
.title-div-service-mobil, .text-bl-div-service-mobil{
    text-align: center;
}

.text-bl-div-service-mobil{
    margin: 20px 99px 20px 86px !important;
}

.col-xs-6 {
    width: 100%;
}

.col-ip-mobil{
    padding-right: 23px;
    padding-left: 23px;
    padding-bottom: 4px;
}

.col-img-ip-mobil{
    padding-right: 19px;
    padding-left: 19px;
}




}
/*iPhone 6*/

/*@media only screen and (max-device-width: 667px) 
    and (-webkit-device-pixel-ratio: 2) {}*/

/*iPhone 6+*/
/*
@media screen and (min-device-width : 414px) 
    and (-webkit-device-pixel-ratio: 3){}

    */